* {
    margin: 0;
    padding: 0;
    list-style: none;
    text-decoration: none;
    box-sizing: border-box;
    scroll-behavior: smooth;
}
:root {
    --bg-color: #272957;
    --text-color: #fff;
    --main-color: #ea5445;
    --other-color: #858585;
    --second-color: #1a1a1a;
    --second-bg-color: #FEFEFE;

    --h1-font: 5rem;
    --h2-font: 3.2rem;
    --p-font: 1.1rem;    
}
body {
    /* background: var(--bg-color); */
    color: var(--text-color);
}
header {
    width: 100%;
    position: fixed;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 20px 15%;
    z-index: 10001;
    transition: all ease-in .4s;
    background: transparent;
}
header.sticky{
    padding: 20px 5%;
    background: var(--bg-color);
    box-shadow: 1px 4px 8px rgb(15 54 55 / 10%);
}
.logo {
    color: black;
    display: flex;
    align-items: center;
    font-size: var(--p-font);
    font-weight: 600;
    text-transform: uppercase;
    width: 200px;
}
.logo img {
    margin-right: 10px;
    max-width: 50px;
    width: 100%;
    height: auto;
    border-radius: 50%;
}
.navlist {
    display: flex;
    align-items: center;
}
.navlist a {
    display: inline-block;
    letter-spacing: .05em;
    color: black;
    font-size: var(--p-font);
    font-weight: 600;
    margin: 0 20px;
    transition: all ease .5s;
}
.navlist a:hover {
    color: var(--bg-color);
}
#menu-icon {
    font-size: 40px;
    cursor: pointer;
    display: none;
}
section {
    padding: 100px 15% 70px;
}
.beranda {
    background-image: url(img/1789.jpg);
    /* background-position:  center; */
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 2rem;
}
.beranda-img img {
    max-width: 650px;
    width: 100%;
    height: auto;
    object-fit: cover;
    border-radius: 20px;
}
.beranda-text h1 {
    font-size: var(--h1-font);
    font-weight: 700;
    margin-bottom: 30px;
    text-transform: uppercase;
    color: black;
}
.beranda-text p {
    color: var(--bg-color);
    line-height: 30px;
    max-width: 800px;
    font-weight: 700;
    letter-spacing: .05em;
}
.beranda-text h1 span {
    color: var(--bg-color);
}
.jadwal {
    background: var(--second-bg-color);
    color: var(--other-color);
}
.jadwal-content {
    display: flex;
    align-items: center;
    flex-direction: column;
}
.jadwal-content h2 {
    color: var(--bg-color);
    font-size: var(--h2-font);
    margin: 20px;
    font-weight: 700;
}
.jadwal-content p {
    font-size: var(--p-font);
    font-weight: 500;
    line-height: 30px;
    text-align: center;
    margin-bottom: 30px;
}
.jadwal-box {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(200px, auto));
    background: #272957;
    justify-content: center;
    gap: 20px;
    padding: 50px 40px;
    border-radius: 30px;
}
.box {
    /* background: var(--main-color); */
    text-align: center;
}
.box h3 {
    font-size: 35px;
    color: var(--main-color);
    font-weight: 600;
    margin-bottom: 30px;
}
.box h4 {
    font-size: 26px;
    color: var(--text-color);
    font-weight: 700;
    letter-spacing: .05em;
}
.tentangkami {
    /* display: grid;
    grid-template-columns: repeat(2, 1fr); */
    background-color: #272957;
    gap: 3rem;
    /* justify-content: space-between; */
    /* align-items: center; */
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 100vh;
    
}
.tentang-text h2 {
    font-size: var(--h2-font);
    font-weight: 600;
    margin-bottom: 10px;
    text-transform: uppercase;
}
.tentang-text p {
    font-size: var(--p-font);
    font-weight: 500;
    line-height: 30px;
    margin-bottom: 10px;
    max-width: 800px;
}
.box-ustd {
    display: flex;
    align-items: center;
    background: rgb(7, 7, 44);
    width: 430px;
    border-radius: 20px;
    padding: 20px ;
}
.box-ustd img {
    border-radius: 20px;
    margin-right: 10px;
    object-fit: cover;
    width: 150px;
    height: auto;
}
.tentang-img img{
    max-width: 650px;
    width: 100%;
    height: auto;
    object-fit: cover;
    border-radius: 20px;
}
.box-img {
    background: #fff;
    width: 300px;
    border-radius: 10px;
    position: relative;
    top: -40px;
    /* right: -355px; */
    padding: 30px 20px 10px;
}
.box-img h3 {
    color: var(--main-color);
    font-size: 30px;
    font-weight: 600;
    margin-bottom: 5px
}
.box-img h5 {
    color: black;
    font-size: 17px;
    font-weight: 400px;
    line-height: 30px;
}
.artikel {
    color: black;
    padding-top: 100px;
}
.artikel-text {
    text-align: center;
}
.artikel-text h2 {
    font-size: var(--h2-font);
    font-weight: 700;
    color: #272957;
    margin-bottom: 20px;
}
.artikel-text p {
    color: var(--other-color);
    font-size: var(--p-font);
    margin-bottom: 30px;
}
.artikel-content {
    margin-top: 4rem;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(400px, auto));
    gap: 2rem;
}
.artikel-content img {
    width: 100%;
    object-fit: cover;
    height: auto;
    border-radius: 20px;
}
.row {
    background: var(--bg-color);  
    border-radius: 20px;  
    transition: all ease .5s;
    cursor: pointer;
}
.row:hover {
    transform: translateY(-5px) scale(1.02); 
}
.row-text {
    padding: 20px 30px 35px;
}
.row-text h4 {
    color: var(--main-color);
    font-size: 26px;
    font-weight: 600;
    margin-bottom: 20px;
}
.row-text h5 {
    font-size: 15px;
    color: var(--other-color);
    font-weight: 400;
    margin-bottom: 20px;
}
.row-text p {
    font-size: var(--p-font);
    font-weight: 500;
    color: #fff;
    margin-bottom: 20px;
}
.row-text a {
    color: var(--main-color);
    font-size: 18px;
    transition: all ease .5s;
}
.row-text a:hover {
    transform: scale(1.01);
    color: black;
}
.footer {
    background: #272957;
    padding: 60px 15% 20px;
}
.logo-footer {
    display: flex;
    align-items: center;
    margin-bottom: 30px;
   
}
.logo-footer img{
    margin-right: 10px;
    width: 70px;
    height: auto;
    border-radius: 50%;
}
.footer-content {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(200px, auto));
    gap: 3rem;
    /* align-items: center; */
    /* justify-content: center; */
    /* text-align: center; */
    margin-bottom: 40px;
}
.f-row h5 {
    font-size: 18px;
    font-weight: 600;
    margin-bottom: 15px;
}
.f-row p {
    font-size: var(--p-font);
    letter-spacing: .05em;
    line-height: 20px;
}
.medsos a{
    display: inline-flex;
    width: 45px;
    height: 45px;
    background: #fff;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    color: #272957;
    margin-right: 3px;
    font-size: 20px;
    transition: all ease .5s;
}
.medsos a:hover {
    background: transparent;
    transform: translateY(-3px);
    color: #fff;
    border: 1px solid var(--text-color);
    /* margin-bottom: 40px; */
}

.text {
    padding: 20px 0;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.text p {
    font-size: var(--p-font);
    font-weight: 500;
}
@media (max-width: 1440px){
    section {
        padding: 70px 5% 50px;
    }
    header {
        padding: 20px 5%;
    }
    .footer {
        padding: 60px 5% 20px;
    }
}
@media (max-width: 1024px){
    section {
        padding: 70px 5% 50px;
    }
    header {
        padding: 20px 5%;
    }
    .footer {
        padding: 60px 5% 20px;
    }
    :root {
        --bg-color: #272957;
        --text-color: #fff;
        --main-color: #ea5445;
        --other-color: #858585;
        --second-color: #1a1a1a;
        --second-bg-color: #FEFEFE;
    
        --h1-font: 4rem;
        --h2-font: 2.7rem;
        --p-font: 1.1rem;    
    }
    .artikel-content {
        margin-top: 4rem;
        display: grid;
        grid-template-columns: repeat(auto-fit, minmax(250px, auto));
        gap: 2rem;
    }
    .row-text {
        padding: 15px 10px 10px;
    }
    .row-text h4 {
        font-size: 20px;
        margin-bottom: 10px;
    }
    .row-text h5{
        margin-bottom: 10px;
    }
    .jadwal-box {
        display: grid;
        grid-template-columns: repeat(auto-fit, minmax(150px, auto));
        background: #272957;
        justify-content: center;
        gap: 20px;
        padding: 50px 40px;
        border-radius: 30px;
    }
    .box h3 {
        font-size: 30px;
        margin-bottom: 15px;
    }
    .box h4 {
        font-size: 20px; 
    }
}
@media (max-width: 768px){
    section {
        padding: 70px 3% 50px;
    }
    header {
        padding: 20px 3%;
    }
    .footer {
        padding: 60px 3% 20px;
    }
    .beranda {
        display: grid;
        grid-template-columns: 1fr;
        background-position: center;
        background-size: cover;
        height: 70vh;
    }
    .beranda-img {
        display: none;
    } 
    :root {
        --h1-font: 3rem;
        --h2-font: 2rem;
        --p-font: 1rem;    
    }
    .beranda-text {
        text-align: center;
    }
    .beranda-text h1 {
        margin-bottom: 10px;
        padding-top: 50px;
    }
    .beranda-text p {
        max-width: 400px;
        text-align: center;
        margin: 0 auto;
    }
    .jadwal-box {
        display: grid;
        grid-template-columns: repeat(auto-fit, minmax(100px, auto));
        background: #272957;
        justify-content: center;
        gap: 20px;
        padding: 50px 40px;
        border-radius: 30px;
    }
    .box h3 {
        font-size: 30px;
        margin-bottom: 15px;
    }
    .box h4 {
        font-size: 20px; 
    }
    .tentangkami {
        display: grid;
        grid-template-columns: 1fr;
        height: auto;
        gap: 20px;
    }
    .tentang-img {
        margin: 0 auto;
    }
    .tentang-img img{
        width: 300px;
        height: auto;
    }
    .box-img {
        padding: 10px 5px 10px;
        max-width: 170px;
    }
    .box-img h5{
        line-height: 20px;
        font-weight: 400;
        /* margin-top:  */
    }
    .box-img h3 {
        margin-bottom: 1px;
    }
    .tentang-text {
        text-align: center;
        margin-top: 0;
        /* max-width: 300px; */
    }
    .tentang-text p {
        max-width: 400px;
        /* align-items: center; */
        /* text-align: center; */
        margin: 0 auto;
    }
    .box-ustd img {
        border-radius: 20px;
        object-fit: cover;
        width: 70px;
        height: auto;
    }
    .box-ustd {
        /* margin-top: 20px; */
        margin: 20px auto;
        max-width: 300px;
    }
    
    .box-text h3 {
        font-size: 15px;
    }
    .box-text p {
        font-size: 14px;
    }
    .artikel-content {
        margin-top: 2rem;
        display: grid;
        grid-template-columns: repeat(auto-fit, minmax(150px, auto));
        gap: 1rem;
    }
    .row-text {
        padding: 10px 10px 10px;
    }
    .row-text h4 {
        font-size: 18px;
        margin-bottom: 5px;
    }
    .row-text h5{
        margin-bottom: 5px;
        font-size: 13px;
    }
    .row-text p {
        font-size: 16px;
        margin-bottom: 10px;
    }
    .navlist {
        position: absolute;
        top: 0;
        right: -100%;
        width: 100%;
        height: 1000vh;
        backdrop-filter: blur(30px);
        display: flex;
        flex-direction: column;
        align-items: center;
        padding-top: 100px;
        transition: all ease .5s;
    }
    .navlist a {
        display: block;
        font-size: 22px;
        margin: 10px 0;
        padding: 10px;
    }
    #menu-icon {
        display: block;
        color: black;
        z-index: 10001
    }
    .navlist.open {
        right: 0;
    }
}
@media (max-width: 430px) {
    :root {
        --bg-color: #272957;
        --text-color: #fff;
        --main-color: #ea5445;
        --other-color: #858585;
        --second-color: #1a1a1a;
        --second-bg-color: #FEFEFE;
    
        --h1-font: 2rem;
        --h2-font: 2rem;
        --p-font: 1rem;    
    }
    .artikel-content {
        display: grid;
        grid-template-columns: 300px;
        align-items: center;
        justify-content: center;
        height: auto;
    }
    .tentangkami {
        height: auto;
    }
    .jadwal-content h2 {
        text-align: center;
    }
    .jadwal-box {
        display: grid;
        grid-template-columns: repeat(auto-fit, minmax(70px, auto));
        background: #272957;
        justify-content: center;
        gap: 20px;
        padding: 20px 30px;
        border-radius: 30px;
    }
    header {
        padding: 10px 5%;
    }
}